//
//  Config.xcconfig
//
//  Copyright (c) 2015 Ravel Developers Group. All rights reserved.
//  Created by Cyril Murzin
//

SDKROOT = iphoneos
ARCHS = armv7 arm64

IPHONEOS_DEPLOYMENT_TARGET = 6.0

GCC_PREPROCESSOR_DEFINITIONS_BASE =

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = essentials/PrefixHeader.pch

ALWAYS_SEARCH_USER_PATHS = YES

HEADER_SEARCH_PATHS = $(SRCROOT)/../aztec/include

EXPORTED_SYMBOLS_FILE = $(SRCROOT)/essentials/aztec.exp

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_INHIBIT_ALL_WARNINGS = YES

ENABLE_BITCODE = YES // also use -fembed-bitcode in OTHER_CFLAGS

GCC_C_LANGUAGE_STANDARD = c11
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++

OTHER_CFLAGS=-fembed-bitcode -Qunused-arguments // suppress warning due to conflict with -fembed-bitcode-marker
OTHER_LDFLAGS = -ObjC -all_load
CLANG_MODULES_AUTOLINK = NO
GENERATE_MASTER_OBJECT_FILE = YES
DEAD_CODE_STRIPPING = YES

PRODUCT_NAME = aztec
