//
//  Config.xcconfig
//  barcodes
//
//  Created by Cyril Murzin on 04/07/15.
//  Copyright (c) 2015 Ravel Developers Group. All rights reserved.
//

SDKROOT = iphoneos
ARCHS = armv7 arm64

IPHONEOS_DEPLOYMENT_TARGET = 6.0

GCC_PREPROCESSOR_DEFINITIONS = UMBARCODE_SCAN_ZXING=0 UMBARCODE_SCAN_ZBAR=0

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = essentials/PrefixHeader.pch

ALWAYS_SEARCH_USER_PATHS = NO

HEADER_SEARCH_PATHS = $(SRCROOT)/lib/zxing/ZXingObjC/**

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES

GCC_C_LANGUAGE_STANDARD = c11
CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++

OTHER_LDFLAGS = -ObjC
DEAD_CODE_STRIPPING = YES
