//
//  Release.xcconfig
//
//  Copyright (c) 2015 Ravel Developers Group. All rights reserved.
//  Created by Cyril Murzin
//

#include "Config.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_BASE)

GCC_OPTIMIZATION_LEVEL = 3

OTHER_LIBTOOLFLAGS = $(OTHER_LIBTOOLFLAGS_BASE)
